@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-concrete_1258-71629.jpg?w=1380&t=st=1674275102~exp=1674275702~hmac=e103c7a54656289a67cfb6780d76bf58a483a0804fb2fb3155a3379619db09eb);
  background-size: cover;
  font-family: "Neucha", cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: black;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}